<div class="navbar">
    <div class="logo">
        <!--Donde va a ir el logo y el nombre de la agencia-->
        <a routerLink="/content" routerLinkActive="active" style="display: flex; align-items: center;">
            <img src="DrakoMotors.png" alt="Logo" style="height: 100px; filter: brightness(0) invert(1);">
            <h3 style="padding: 1rem; ">DrakoMotors</h3>
        </a>
    </div>
    <div class="menu">
        <!--Algunas ideas del menu, por ver el blog-->
        <a routerLink="/servicios" routerLinkActive="active">Servicios</a>
        <a routerLink="/nuevos">Nuevos</a>
        <a routerLink="/seminuevos">Seminuevos</a>
        <a routerLink="/contacto">Contacto</a>
        <a routerLink="/formulario">Formulario</a>
    </div>
    <div class="">
        <p>{{this.user}}</p>
    </div>
</div>