<div class="body_contacto">
    <div #slider id="slider" class="slider">
        <div class="item">
            <h1>Slide 1</h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem tempore soluta vel harum similique
            nihil aspernatur qui delectus. Velit dolores doloremque quis culpa, in quam quisquam illum blanditiis ex
            officiis.
        </div>
        <div class="item">
            <h1>Slide 2</h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem tempore soluta vel harum similique
            nihil aspernatur qui delectus. Velit dolores doloremque quis culpa, in quam quisquam illum blanditiis ex
            officiis.
        </div>
        <div class="item">
            <h1>Slide 3</h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem tempore soluta vel harum similique
            nihil aspernatur qui delectus. Velit dolores doloremque quis culpa, in quam quisquam illum blanditiis ex
            officiis.
        </div>
        <div class="item">
            <h1>Slide 4</h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem tempore soluta vel harum similique
            nihil aspernatur qui delectus. Velit dolores doloremque quis culpa, in quam quisquam illum blanditiis ex
            officiis.
        </div>
        <div class="item">
            <h1>Slide 5</h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem tempore soluta vel harum similique
            nihil aspernatur qui delectus. Velit dolores doloremque quis culpa, in quam quisquam illum blanditiis ex
            officiis.
        </div>
        <div class="item">
            <h1>Slide 6</h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem tempore soluta vel harum similique
            nihil aspernatur qui delectus. Velit dolores doloremque quis culpa, in quam quisquam illum blanditiis ex
            officiis.
        </div>
        <div class="item">
            <h1>Slide 7</h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem tempore soluta vel harum similique
            nihil aspernatur qui delectus. Velit dolores doloremque quis culpa, in quam quisquam illum blanditiis ex
            officiis.
        </div>

        <button #prev id="prev" (click)="prevPressed()">&#10094;</button>
        <button #next id="next" (click)="nextPressed()">&#10095;</button>
    </div>
</div>
