<div class="noticias">
    <section class="gallery">
        <h2>Autos Destacados</h2>
        <div class="gallery-container">
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-4.0.3&auto=format&fit=crop&w=1350&q=80" alt="Ferrari 488 Pista">
                <div class="gallery-text">
                    <h3>Porsche 911</h3>
                    <p>Diseño atemporal y rendimiento de alto nivel para el día a día.</p>
                </div>
            </div>
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1583121274602-3e2820c69888?ixlib=rb-4.0.3&auto=format&fit=crop&w=1350&q=80" alt="Lamborghini Aventador">
                <div class="gallery-text">
                    <h3>Ferrari La Ferrari</h3>
                    <p>Híbrido extremo con 963 hp, mezcla perfecta de arte e ingeniería.</p>
                </div>
            </div>
            <div class="gallery-item">
                <img src="https://www.topgear.com/sites/default/files/2023/05/ABT_RS6-LE_Presse-1.jpg" alt="Porsche 911 Turbo S">
                <div class="gallery-text">
                    <h3>Audi RS6</h3>
                    <p>Versatilidad y poder con un V8 biturbo de 600hp y tracción quattro.</p>
                </div>
            </div>
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1616788494707-ec28f08d05a1?ixlib=rb-4.0.3&auto=format&fit=crop&w=1350&q=80" alt="McLaren 720S">
                <div class="gallery-text">
                    <h3>Mercedes AMG GT</h3>
                    <p>elegancia con alma deportiva y motor V8 de pura adrenalina.</p>
                </div>
            </div>
        </div>
    </section>
</div>