<div class="video-bg">
  <!-- Video de fondo de YouTube usando iframe con autoplay y mute -->
  <iframe
    class="video"
    [src]="videoUrl | domseguro"
    title="YouTube video player"
    frameborder="0"
    allow="autoplay; encrypted-media"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <form [formGroup]="formulario" (ngSubmit)="login()" class="login wrap">
    <div class="h1">Login</div>
    <input type="text" id="username" formControlName="username" placeholder="username">
    @if(formulario.get('username')?.hasError('required') && formulario.get('username')?.touched){
        <div class="error">El usuario es obligatorio</div>
    }
    <input type="password" id="password" formControlName="password" placeholder="password">
    @if(formulario.get('password')?.hasError('required') && formulario.get('password')?.touched){
        <div class="error">La contraseña es obligatoria</div>
    }
    <button type="submit" class="btn" [disabled]="formulario.invalid">Enviar</button>
  </form>
</div>