<div class="noticias">
    <section class="about-us">
        <h2>Sobre Nosotros</h2>
        <div class="about-content">
            <div class="about-text">
                <p>Somos un equipo apasionado por el mundo automotriz, dedicado a traerte las últimas noticias, reseñas y eventos del sector. Desde los lanzamientos más recientes hasta las carreras más emocionantes, nuestro objetivo es mantenerte informado y conectado con la velocidad y la innovación. ¡Únete a nuestra comunidad y vive la adrenalina de los autos como nunca antes!</p>
                <a href="#" class="btn-about">Saber Más</a>
            </div>
            <div class="about-image">
                <img src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixlib=rb-4.0.3&auto=format&fit=crop&w=1350&q=80" alt="Auto destacado">
            </div>
        </div>
    </section>
</div>