<div class="noticias">
    <section class="blog">
        <h2>Últimas Noticias</h2>
        <div class="grid-container">
            <article class="grid-item">
                <img src="https://di-uploads-pod12.dealerinspire.com/universitydodgeram/uploads/2019/01/UDodge-Challenger-Looks-are-Here-to-Stay.jpg" alt="Nuevo modelo">
                <div class="text-overlay">
                    <h3>Los últimos Dodge Charger ya salieron de la linea de producción</h3>
                    <p>Conoce las innovaciones del próximo lanzamiento.</p>
                </div>
            </article>
            <article class="grid-item">
                <img src="https://phantom-marca-mx.unidadeditorial.es/4797c174b770597e12bbf1c9528ede93/resize/828/f/jpg/mx/assets/multimedia/imagenes/2025/01/01/17356904567021.jpg" alt="">
                <div class="text-overlay">
                    <h3>Checo Perez Negociando con un equipo que no es Cadillac</h3>
                    <p>Conóce lo más reciente de la F1</p>
                </div>
            </article>
            <article class="grid-item">
                <img src="https://www.topgear.com/sites/default/files/2024/09/DSC09558_4.jpg" alt="">
                <div class="text-overlay">
                    <h3>Primer Coche en conducir boca abajo</h3>
                    <p>Conóce el nuevo Mcmurty Speirling</p>
                </div>
            </article>
            <article class="grid-item">
                <img src="https://espirituracer.com/archivos/2019/10/renault-clio-rs-2016.jpg" alt="">
                <div class="text-overlay">
                    <h3>Conóce el mejor primer coche que puedes comprar</h3>
                    <p></p>
                </div>
            </article>
        </div>
    </section>
</div>


